
/* General Resources Div*/
.general-resources {
    border-color: black;
}

body {
    background-color:#F8F0E3;
}


.card-title{
    color: #10217d;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: #00695c;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

h1 {
    color: #10217d;
    font-size:35pt;
}

/* Local resources Div */
.local-resources {
    border-color: black;
}