
/* General Resources Div*/
.general-resources {
    border-color: black;
}

body {
    background-color: #b7c9e2;
}


h1 {
    color: #712177;
    font-size:35pt;
}

/* Local resources Div */
.local-resources {
    border-color: black;
}